<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Home page</button>
  </div>

  <div class="info">
    <strong>Erik</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo repellendus
      similique iste tempore, neque ipsam officia consequuntur reprehenderit
      exercitationem, delectus eius laborum totam. Vel repellendus suscipit,
      saepe rem qui cum. Cumque cum iusto maiores fuga distinctio, odit beatae
      et ducimus voluptatem corporis tenetur deserunt? Repellat ratione
      obcaecati debitis veniam corrupti! Veniam est animi omnis nesciunt. Quam
      officia voluptatum ipsam omnis. Pariatur officiis ad facere doloremque
      sit. In obcaecati recusandae similique quas molestias iste maxime
      doloribus fuga blanditiis delectus dicta culpa quis animi consequuntur
      numquam, quo reiciendis voluptate ea assumenda? Corrupti. Distinctio sint
      quia iusto eveniet magni, quidem officiis animi impedit a atque eligendi
      vero culpa, explicabo quasi officia excepturi, dolore esse dolores
      asperiores exercitationem qui expedita consequuntur! Error, reiciendis
      esse! Qui sunt ratione neque molestias non voluptate ut eaque illum a.
      Impedit, laudantium, aspernatur repellat doloribus adipisci voluptatem
      autem sit optio laborum, alias labore eum sed iste placeat repellendus
      minima? Sunt ipsum eum voluptatem voluptate eos alias. Et, id aperiam a
      velit error ad architecto repudiandae illum ea cupiditate soluta eligendi
      est expedita odio veritatis corporis accusamus laudantium incidunt
      dolorem. Distinctio sint voluptatem, autem corporis fugit earum tempora.
      Ad minus impedit accusamus commodi quisquam id eligendi pariatur molestiae
      nesciunt! Dolorem magni expedita assumenda officiis unde necessitatibus
      nam sequi atque voluptatem! Eaque odio, voluptatem quidem repellat fugit
      nam odit vero molestiae neque dolores cumque magnam excepturi aliquam
      perferendis facere temporibus cupiditate rem unde. Vitae magni est ducimus
      in. Blanditiis, voluptatibus iure! Sint reiciendis at a laborum ratione
      expedita perspiciatis, corporis officiis minima accusantium explicabo
      consequuntur iusto praesentium provident amet impedit temporibus fugiat ab
      aperiam architecto quasi iure eaque consequatur? Dolore, facere! Error
      totam enim iure fugit nesciunt provident placeat facilis explicabo odit
      deserunt corrupti illum ducimus eius suscipit culpa iste, qui veniam
      maiores officia natus! Est harum exercitationem maiores sunt officia?
      Cumque rem molestiae voluptatibus explicabo, est minima dolore obcaecati?
      Architecto ratione deserunt, amet debitis ab sit, quisquam commodi iste
      alias esse est hic, sunt qui aut quidem nihil quae error? Laudantium
      corrupti, ipsam ut eveniet provident fugiat quia mollitia perspiciatis
      officiis consequatur repellendus officia doloremque! Inventore, quo
      nesciunt officiis aspernatur eveniet maiores consequatur praesentium
      numquam earum, dicta, distinctio aperiam dolorem? Labore eligendi
      perspiciatis reprehenderit, deserunt hic nobis aspernatur quasi at
      dignissimos fugiat dicta asperiores eum! Rerum ipsa dignissimos iste qui.
    </p>
  </div>
</div>
